#open-left {
  cursor: pointer;
}

.snap-drawers {
  background-color: #fff;
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.mobile-menu, #mobile-menu {
  > ul {
    padding: 15px;
    margin: 0;
    li {
      display: block;
      position: relative;
      a {
        display: block;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 1;
        padding: 15px 0;
        border-bottom: 1px solid #eee;
      }
      &:last-child {
        border: none;
      }
      .sub-menu {
        display: none;
        margin-left: 0;
        padding-left: 15px;
      }
      &.menu-item-has-children {
        span.mobile-menu-expand {
          position: absolute;
          right: 0;
          top: 0px;
          width: 44px;
          height: 44px;
          text-align: right;
          line-height: 44px;
          cursor: pointer;
          font-size: 14px;
          color: #999999;
        }
      }
      &.mega-menu {
        display: none !important;
      }
    }
  }
  .menu-item-object-tm_mega_menu {
    display: none !important;
  }
}