.mini-cart {
  position: relative;
  padding: 0 15px;
  .mini-cart__button {
    cursor: pointer;
    @extend %transit;
    .mini-cart-icon {
      position: relative;
      &:before {
        @extend %icon;
        float: none;
        margin: 0;
        width: auto;
        height: auto;
        border: none;
        content: '\f07a';
        font-size: 20px;
        line-height: normal;
      }
      &:after {
        position: absolute;
        top: -16px;
        right: -12px;
        min-width: 20px;
        content: attr(data-count);
        text-align: center;
        font-weight: 600;
        font-size: 12px;
        font-family: inherit;
        line-height: 20px;
      }
    }
  }
  .widget_shopping_cart_content {
    position: absolute;
    top: 140%;
    right: 0;
    z-index: 99999;
    visibility: hidden;
    overflow: auto;
    padding-top: 15px;
    max-height: 700px;
    width: 300px;
    background-color: #fff;
    opacity: 0;
    @include box_shadow(0, 6px, 12px, 0, rgba(0, 0, 0, 0.2));
    @extend %transit;
    .cart_list {
      li {
        margin-bottom: 10px;
        padding: 0 15px 10px;
        border-bottom: 1px solid #eee;
        @extend %clearfix;
        img {
          float: left;
          margin: 0 10px 0 0;
          width: 70px;
        }
        .quantity {
          display: block;
          color: #666;
          font-size: 12px;
        }
        .remove {
          position: relative;
          display: inline-block;
          float: right;
          width: 20px;
          height: 20px;
          text-align: center;
          font-size: 20px;
          line-height: 15px;
          &:hover {
            background: red;
            color: #fff !important;
          }
        }
      }
    }
    .total {
      margin-bottom: 0;
      padding: 5px 15px 5px;
      text-align: center;
    }
    .buttons {
      margin-bottom: 0;
      text-align: center;
    }
    .wc-forward {
      display: inline-block;
      margin: 10px 3px 15px;
      padding: 5px 10px;
      text-transform: uppercase;
    }
  }
  &.open {
    .widget_shopping_cart_content {
      top: 100%;
      visibility: visible;
      opacity: 1;
    }
  }
}