select,
textarea,
input {
  display: inline-block;
  margin-bottom: 10px;
  padding: 20px 25px;
  max-width: 100%;
  width: 100%;
  border: 1px solid #ddd;
  box-shadow: none;
  color: #888;
  vertical-align: top;
  font-size: 14px;
  @extend %transit;
  &:focus {
    outline: none;
    background-color: #fff;
    color: #000;
  }
  @include placeholder {
    color: #999;
  }
}

textarea {
  height: 200px;
  resize: vertical;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  padding: 15px 20px;
  width: auto;
  border: none;
  background-color: #333;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-size: 13px;
  cursor: pointer;
  @extend %transit;
}